language: python

python:
 - 3.6
 - 3.5
 - 3.7

before install:
 - sudo pip install -i https://test.pypi.org/simple/ CEBD1100hw8ThibaultPasturel-pkg-tpasturel

script:
 - python3 Homework8_Package.py -H
 - python3 Homework8_Package.py -c1 ash -c2 alcohol
 - python3 Homework8_Package.py -c1 magnesim -c2 flavanoids
